* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    background-color: #efebe0;
}

.contenedor-principal{
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header{
    grid-area: header;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo-header{
    text-align: center;
}

.logo-header img{
    width: 80%;
}

.opciones-header{
    flex: 1;
    margin: 0 30px;
}

.opciones-header .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.opciones-header img{
    margin: 0 5px;
}

.nav-item{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.opciones-header input[type=search]{
    color: white;
    padding: 5px;
    outline: none;
    background-color: black;
}

.opciones-header a:hover{
    transition: all .3s ease;
    transform: scale(1.1);
    border-bottom: 1px solid #ffffff;
}

.nav-list{
    list-style: none;
}

nav{
    grid-area: nav;
    background-color: #6b705c;
}

nav .nav-item:hover{
    background-color: #403d39;
}

main{
    grid-area: main;
}

.productos{
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.productos h3{
    font-size: 22px;
    margin: 10px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.producto{
    cursor: pointer;
}


.contenedor-productos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer{
    grid-area: footer;
    background-color: #000000;
}
.creador p{
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.url-sitio{
    display: none;
}

@media print {
    .url-sitio{
        display: block;
    }
}

@media (min-width: 600px){
    header{
        flex-direction: row;
    }

    .opciones-header{
        display: flex;
        justify-content: flex-end;
    }

    nav .nav-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav .nav-item{
        padding: 10px 20px;
    }

    .contenedor-productos{
        grid-template-columns: repeat(4, 1fr);
    }
}