* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    background-color: #efebe0;
}

.contenedor-principal{
    display: grid;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    min-height: 100%;
}

header{
    grid-area: header;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo-header{
    text-align: center;
}

.logo-header img{
    width: 80%;
}

.opciones-header{
    flex: 1;
    margin: 0 30px;
}

.opciones-header .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.opciones-header img{
    margin: 0 5px;
}

.nav-item{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.opciones-header input[type=search]{
    color: white;
    padding: 5px;
    outline: none;
    background-color: black;
}

.opciones-header a:hover{
    transition: all .3s ease;
    transform: scale(1.1);
    border-bottom: 1px solid #ffffff;
}

.nav-list{
    list-style: none;
}

nav{
    grid-area: nav;
    background-color: #6b705c;
}

nav .nav-item:hover{
    background-color: #403d39;
}

main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-contacto{
    width: 80%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #403d39;
    gap: 20px;
}

.contenedor-contacto input, textarea{
    width: 100%;
    display: block;
    margin: 15px auto;
    padding: 5px;
}

.contenedor-contacto input[type=text], input[type=tel], textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
}

.contenedor-contacto textarea{
    height: 200px;
    resize: vertical;
}

.contenedor-contacto input[type=submit]{
    background-color: #403d39;
    width: 40%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    grid-area: footer;
    background-color: #000000;
}

.creador p{
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 10px;
}

@media (min-width: 800px){
    header{
        flex-direction: row;
    }

    .opciones-header{
        display: flex;
        justify-content: flex-end;
    }

    nav .nav-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav .nav-item{
        padding: 10px 20px;
    }

    .contenedor-contacto{
        width: 50%;
    }
}