* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    background-color: #efebe0;
}

.contenedor-principal{
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header{
    grid-area: header;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo-header{
    text-align: center;
}

.logo-header img{
    width: 80%;
}

.opciones-header{
    flex: 1;
    margin: 0 30px;
}

.opciones-header .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.opciones-header img{
    margin: 0 5px;
}

.nav-item{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.opciones-header input[type=search]{
    color: white;
    padding: 5px;
    outline: none;
    background-color: black;
}

.opciones-header a:hover{
    transition: all .3s ease;
    transform: scale(1.1);
    border-bottom: 1px solid #ffffff;
}

.nav-list{
    list-style: none;
}

nav{
    grid-area: nav;
    background-color: #6b705c;
}

nav .nav-item:hover{
    background-color: #403d39;
}

footer{
    grid-area: footer;
    background-color: #000000;
}
.creador p{
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.ficha-flor{
    width: 80%;
    margin: 20px auto;
}

.detalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px dotted #000000;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.compra-flor{
    order: 1;
    flex: 1;
}

.foto-flor{
    order: 2;
}

.foto-flor img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.compra-flor > *{
    margin: 20px;
}

.compra-flor select, button{
    padding: 5px;
}

.compra-flor input[type=number]{
    width: 60px;
}

.botones button{
    background-color: #403d39;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botones{
    display: flex;
    gap: 20px;
}

.wishlist{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 140px;
    background-color: #403d39;
    color: white;
    cursor: pointer;
}

.descripcion{
    background-color: #403d39;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.url-sitio{
    display: none;
}

@media print {
    .url-sitio{
        display: block;
    }
}

@media (min-width: 600px){
    header{
        flex-direction: row;
    }

    .opciones-header{
        display: flex;
        justify-content: flex-end;
    }

    nav .nav-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav .nav-item{
        padding: 10px 20px;
    }

    .detalles{
        flex-direction: row;
    }

    .compra-flor{
        order: 2;
    }

    .foto-flor{
        order: 1;
    }
}